html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(167, 60, 60);
    font-size: 20px;
}

#book-form {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
    padding: 30px;
}

input {
    border-radius: 5px;
}


input:hover {
    border-color: rgba(255, 248, 248, 0.719);
}

#display {
    width: 100%;
    height: 800px;
    background-color: rgba(44, 39, 39, 0.849);
    display: inline-block;
    box-shadow: 5px 5px 5px 5px rgba(31, 29, 29, 0.2);
}


